body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: palevioletred;
}
#container
{
    width: 50%;
    padding: 1em;
    text-align: center;
    border: 2px solid #ddd;
}

#container h1 {
    color: black;
    font-size: 20px;
}