body {
    text-align: center;
    font-family: Arial;
    color: red;
    
}
#container
{
    width: 70%;
    padding: 0px 0px 0px 0px;
    text-align: center;
    border: 2px solid #ddd;

}

#container h1 {
    color: black;
    font-size: 30px;
    padding: 20px 0px 0px 0px;
}
#container p{
    padding: 0px 10%;
    
}
#cabecera {
    background: #053174;
    color: white;
    text-align: left;
    font-size: 35px;
    padding: 10px;
    box-shadow: 0px 2px 10px 0px black;
    font-weight: bold;
}

#footer {
    background-color: rgb(109, 109, 109);
    padding: 8px;
    margin: 0px;
    color: white;
}
#cabecera #tagline {
    font-size: 20px;
    text-align: center;
    margin: auto 50px;
}